@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&display=swap');

:root {
  --background-color-hue: 125;
  --background-color-saturation: 39%;
  --background-color-lightness: 94%;
  --background-color: hsl(
    var(--background-color-hue),
    var(--background-color-saturation),
    var(--background-color-lightness)
  );

  --u: 50px; // key unit
  
  --keyboard-color-hue: 134;
  --keyboard-color-saturation: 100%;
  --keyboard-color-lightness: 39%;
  --keyboard-color: hsl(
    var(--keyboard-color-hue),
    var(--keyboard-color-saturation),
    var(--keyboard-color-lightness)
  );

  --keyboard-frame-color: var(--keyboard-color);

  --keyboard-body-from: hsl(
    calc(var(--keyboard-color-hue) + 9),
    var(--keyboard-color-saturation),
    calc(var(--keyboard-color-lightness) - 4%)
  );
  --keyboard-body-to: hsl(
    calc(var(--keyboard-color-hue) - 14),
    var(--keyboard-color-saturation),
    calc(var(--keyboard-color-lightness) - 3%)
  );

  --keyboard-bottom-from: hsl(
    calc(var(--keyboard-color-hue) + 2),
    var(--keyboard-color-saturation),
    calc(var(--keyboard-color-lightness) - 0.33%)
  );
  --keyboard-bottom-to: hsl(
    calc(var(--keyboard-color-hue) + 9),
    var(--keyboard-color-saturation),
    calc(var(--keyboard-color-lightness) - 4%)
  );

  --keyboard-key-side-from: hsl(
    calc(var(--keyboard-color-hue) + 6),
    var(--keyboard-color-saturation),
    calc(var(--keyboard-color-lightness) - 1.75%)
  );
  --keyboard-key-side-to: hsl(
    calc(var(--keyboard-color-hue) + 9),
    var(--keyboard-color-saturation),
    calc(var(--keyboard-color-lightness) - 4%)
  );

  --keyboard-key-top-from: var(--keyboard-color);
  --keyboard-key-top-to: hsl(
    calc(var(--keyboard-color-hue) + 6),
    var(--keyboard-color-saturation),
    calc(var(--keyboard-color-lightness) - 1%)
  );

  --keyboard-key-spacebar-from: hsl(
    calc(var(--keyboard-color-hue) + 6),
    var(--keyboard-color-saturation),
    calc(var(--keyboard-color-lightness) - 1%)
  );
  --keyboard-key-spacebar-to: hsl(
    calc(var(--keyboard-color-hue) + 9),
    var(--keyboard-color-saturation),
    calc(var(--keyboard-color-lightness) - 3%)
  );

  --keyboard-key-engrave-up: hsl(
    calc(var(--keyboard-color-hue)),
    calc(var(--keyboard-color-saturation)),
    calc(var(--keyboard-color-lightness) + 3.69%)
  );
  --keyboard-key-engrave-down: hsl(
    calc(var(--keyboard-color-hue)),
    calc(var(--keyboard-color-saturation)),
    calc(var(--keyboard-color-lightness) - 5%)
  );
}

* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
strong,
b,
em,
i,
sub,
sup {
  font-family: "Chiron GoRound TC", sans-serif;
  font-optical-sizing: auto;
}
