@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
    font-family: 'mcfont';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/src/assets/fonts/Minecraft-Regular.woff') format('woff');
}